/*_______Plantilla 1_______*/

.layout_1 {
    width: 600px;
    height: 435px;
    background-color: #fff;
    border: 1px solid #c6e446;
   /* background-image: url(../images/articulos/l1.png);*/
}

.layout_1 > .cerrar {
    float: right;
    width: 40px;
    height: 50px;
    margin: -54px -5px 0 0;
}

.layout_1 > .img {
    float: left;
    width: 200px;
    height: 435px;
}

.layout_1 > .title {
    float: right;
    width: 360px;    

    margin: 20px 15px 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #3297cf;
}

.layout_1 > .content {
    float: right;
    width: 360px;
    height: 270px;
    margin: 5px 0px 25px 15px;
    padding-right: 15px;
    overflow: auto;
    font-size:10pt;
    color: #5b4547;
    text-align:justify;
}

.layout_1 > .social {
    float: right;
    width: 370px;
    height: 40px;
    margin: 5px 10px 0px 15px;
    text-align: right;
}


/*_______Plantilla 2_______*/

.layout_2 {
    width: 600px;
    height: 435px;
    background-color: #fff;
    border: 1px solid #c6e446;
}

.layout_2 > .cerrar {
    float: right;
    width: 40px;
    height: 50px;
    margin: -54px -5px 0 0;
}

.layout_2 > .img {
    float: right;
    width: 200px;
    height: 435px;
}

.layout_2 > .title {
    float: left;
    width: 360px;    
    margin: 20px 15px 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #3297cf;
}

.layout_2 > .content {
    float: left;
    width: 370px;
    height: 270px;
    margin: 5px 0px 25px 15px;
    padding-right: 15px;
    overflow: auto;
    font-size:10pt;
    color: #5b4547;
    text-align:justify;
}

.layout_2 > .social {
    float: left;
    width: 370px;
    height: 40px;
    margin: 5px 10px 0px 15px;
    text-align: left;
}

/*_______Plantilla 3_______*/

.layout_3 {
    width: 600px;
    height: 435px;
    background-color: #fff;
    border: 1px solid #c6e446;
}

.layout_3 > .cerrar {
    float: right;
    width: 40px;
    height: 50px;
    margin: -54px -5px 0 0;
}

.layout_3 > .img {
    float: left;
    width: 275px;
    height: 310px;
    margin: 0 20px 0 20px;
}

.layout_3 > .img > .img_footer {
    float: left;
    width: 275px;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    color: #3297cf;
}

.layout_3 > .title {
    float: left;    
    width: 500px;
    margin: 20px 15px 20px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #3297cf;
}

.layout_3 > .content {
    float: right;
    width: 270px;
    height: 350px;
    padding-right: 15px;
    overflow: auto;
    font-size:10pt;
    color: #5b4547;
    text-align:justify;
}

.layout_3 > .social {
    float: left;
    width: 275px;
    height: 40px;
    margin: 10px 20px 0 20px;
    text-align: left;
}

/*_______Plantilla 4_______*/

.layout_4 {
    width: 600px;
    height: 435px;
    background-color: #fff;
    border: 1px solid #c6e446;
}

.layout_4 > .cerrar {
    float: right;
    width: 40px;
    height: 50px;
    margin: -54px -5px 0 0;
}

.layout_4 > .title {
    float: left;
    margin: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #3297cf;
}

.layout_4 > .content {
    float: right;
    width: 600px;
    height: 350px;
    overflow: auto;
}

.layout_4 > .social {
    float: right;
    height: 40px;
    margin: 0 20px 0 20px;
    text-align: right;
}


/*_______NoLayout_______*/

.noLayout {
    width: 600px;
    height: 435px;
    background-color: #fff;
    border: 1px solid #c6e446;
}

.noLayout > .cerrar {
    float: right;
    width: 40px;
    height: 50px;
    margin: -54px -5px 0 0;
}

.noLayout > .title {
    float: left;
    margin: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #3297cf;
}

.noLayout > .content {
    float: right;
    width: 570px;
    margin: 10px 0 10px 10px;
    padding-right:15px;
    height: 320px;
    overflow: auto;
    font-size:10pt;
    color: #5b4547;
    text-align:justify;
}

.noLayout > .social {
    float: right;
    height: 30px;
    margin: 10px 20px 0 20px;
    text-align: right;
}